body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

.header {
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  padding: 20px;
  text-align: center;
}

.main-content {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.box {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
  text-align: center;
  border: 1px solid rgb(26, 34, 26);
  font-size: 20px;
}


.config-box {
  background: #e3f2fd;
}

.status-box {
  background: #fce4ec;
}

.control-panel {
  background: #f3e5f5;
}

.selling-details {
  background: #fff3e0;
  margin-top: 20px;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 18px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #010101;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 30px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.App-footer p {
  margin: 0;
  font-size: 24px;
}

